<div class="jumbotron jumbotron-fluid" role="alert">
  <h4 class="alert-heading">Sobre a lista</h4>
  <hr>
  <p>
    Lista criada por Danielle Gomes.
  </p>
  <hr>
  <p>
    Veja mais:
  </p>
  <i class="fa fa-github" aria-hidden="true"></i>
  <a href="https://github.com/daniellengs/angular-contactlist" target="_blank">Lista de Contato</a><br />
  <i class="fa fa-github" aria-hidden="true"></i>
  <a href="https://www.linkedin.com/in/danielle-gomes-2980989a/" target="_blank">Sobre Danielle</a>
  <hr>
  <p class="float-right">
    Licença CESAR
  </p>
</div>
