<div *ngFor="let contato of contatos">
  <app-contato
    [contato]="contato"
    (contatoDeleted)="delete(contato)">
  </app-contato>
</div>

<div *ngIf="carregando">
  carregando ***
</div>

<br /><br />

<div class="alert alert-danger" role="alert">
  <span class="badge badge-pill badge-light">
    Name:
    <input
      type="text"
      [(ngModel)]="inputName" /> <br />
  </span>

<br />
<br />

  <span class="badge badge-pill badge-light">

  Phone:
    <input
      type="text"
      [(ngModel)]="inputPhone" /> <br />
  </span>

<br />
<br />

  <button (click)="insertContato()" class="btn btn-lg btn-secondary btn-sm" >Inserir</button>
</div>
